<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Not In Our Time{% endblock %}</title>
<link rel="stylesheet" href="/static/{% block stylesheet %}page_base.css{% endblock %}?v={{ v }}">
<script src="/static/nav.js?v={{ v }}" defer></script>
{% block extra_head %}{% endblock %}
</head>
<body{% block body_attrs %}{% endblock %}>
{% block body %}
<div class="content">
{% block content %}{% endblock %}
</div>
{% endblock %}
</body>
</html>
